.savings-goals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 5px 20px;
  margin-bottom: 15px;
  color: #681d1d;
}

.add-goal-button {
  color: #681d1d;
  font-weight: bold;
  border: 1px solid #681d1d;
  background: #f5f5f5;
  cursor: pointer;
  padding: 6px;
  margin: 0 3px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.add-goal-button:hover {
  background-color: green;
  color: white;
  border: 1px solid green;
}

.close-goal {
  background-color: #f5f5f5;
  color: #681d1d;
}

.close-goal:hover {
  background-color: rgb(243, 60, 60);
  color: white;
  border: 1px solid rgb(243, 60, 60);
}

.savings-form {
  display: none;
  background-color: #f3e3e3;
  padding: 5px 15px;
  border-radius: 20px;
  color: #681d1d;

  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.show-form {
  display: block;
}

.savings-form-inner-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #5d342f;
}

.savings-form-inner-container input,
.savings-form-inner-container select {
  font-size: 15px;
  padding: 5px;
  border-radius: 6px;
  background-color: #fef2de;
  border: 0.3px solid #681d1d;
}

.save-goal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-goal-button {
  font-size: 14px;
  padding: 5px 50px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f3e3e3;
  border: 0.3px solid #681d1d;
  color: #681d1d;
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.2s ease;
}

.save-goal-button:hover {
  background-color: green;
  border: 0.3px solid green;
  color: #fef2de;
}
.savings-goals-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 10px;
  font-family: "Roboto", Arial, sans-serif;
}
.savings-goals-card {
  background-color: #f3e3e3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  padding-top: 18px;
  /* height: 125px; */
}

.buttons-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-money-button {
  flex: 1;
  border: 0.1px solid green;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: transparent;
  cursor: pointer;

  font-weight: bold;

  padding: 5px;
  border-radius: 5px;
  color: darkgreen;
  background-color: rgb(214, 226, 214);

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.add-money-button:hover {
  background-color: green;
  color: white;
}
.action-buttons {
  margin-left: 15px;
}
.action-buttons button {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  background: transparent;
  cursor: pointer;

  padding: 5px;
  border-radius: 3px;
  color: #681d1d;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.edit-goal-button:hover {
  background-color: rgb(174, 222, 226);
  color: darkblue;
}

.delete-goal-button:hover {
  background-color: #f8d7d7;
  color: red;
}
.goal-header {
  display: flex;
  justify-content: space-between;
}
.goal-name {
  color: #681d1d;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}
.goal-target {
  color: #985353;
  font-size: 14px;
}
.goal-days-left {
  color: #681d1d;
  font-size: 17px;
  font-weight: 600;
  display: flex;

  align-items: center;
}
.goal-progress-bar {
  margin-top: 13px;
  margin-bottom: 13px;
  height: 10px;
  background-color: #fef2de;
  border-radius: 10px;
  overflow: hidden;
}
.goal-progress-fill {
  background-color: brown;
  width: 65%;
  height: 100%;
}
.goal-footer {
  display: flex;
  justify-content: space-between;
}
.goal-saved {
  color: darkgreen;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}
.goal-saved-text {
  color: #681d1d;
  font-weight: 400;
  font-size: 17px;
}
.goal-date {
  color: #985353;
  font-size: 14px;
}
.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
